@model najemci.Models.Byt


<h4>@Model.Nemovitost.Jmeno - Byt: @Model.Cislo</h4>

<div>
    <p><strong>Výše nájmu:</strong> @Model.Najem Kč &emsp;  
    <strong>Služby:</strong> @Model.Sluzby Kč &emsp;
    <strong>Nájem + Služby:</strong> @Model.NajemSluzby Kč &emsp;
    <strong>Kauce:</strong> @Model.Kauce Kč &emsp;
    <strong>Patro:</strong> @Model.Patro &emsp;
    <strong>Dispozice:</strong> @Model.Mistnosti &emsp;
    <strong>Rozloha:</strong> @Model.Rozloha m<sup>2</sup></p>
    <p><strong>Nájemníci:</strong></p>
        @if (Model.Najemnici.Any())
        {
            <table>               
                <thead>
                    <th>Jméno</th>
                    <th>Email</th>
                    <th>Telefon</th>
                    <th>Datum narození</th>
                    <th>Rodné číslo</th>
                    <th>Číslo OP / Pasu</th>
                    <th>Nájem Od</th>
                    <th>Číslo účtu</th>
                    <th>Akce</th>
                </thead>
                <tbody>
                    @foreach (var data in Model.Najemnici)
                    {
                        <tr>                           
                            <td>@data.Jmeno</td>
                            <td>@data.Email</td>
                            <td>@data.Telefon</td>
                            <td>@(data.DatumNarozeni.HasValue ? data.DatumNarozeni.Value.ToString("dd.MM.yyyy") : "Neuvedeno")</td>
                            <td>@data.RodneCislo</td>
                            <td>@data.CisloOP</td>
                            <td>@(data.NajemOd.HasValue ? data.NajemOd.Value.ToString("dd.MM.yyyy") : "Neuvedeno")</td>
                            <td>@data.CisloUctu</td>
                            <td>
                                <a class="nav-link" asp-controller="Nemovitost" asp-action="UpravNajemnika" asp-route-id="@data.Id">Uprav Nájemníka</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>  
            
            <hr />
            <hr />

            <table>
                <thead>
                    <th> </th>
                    <th>Nájemní smlouva</th>
                    <th>Předávací protokol</th>
                    <th>Evidenční list</th>
                    <th>Dodatek o prodloužení nájmu</th>
                    <th>Dohoda o ukončení nájmu</th>
                    <th>Výpověď z nájmu</th>
                </thead>
                <tbody>                   
                    <tr>
                        <td>Word/Excel</td>
                        <td><a href="@Url.Action("NSWord", "Word", new { bytId = Model.Id} )">Stáhnout Word</a></td>
                        <td><a href="@Url.Action("PPWord", "Word", new { bytId = Model.Id} )">Stáhnout Word</a></td>
                        <td><a href="@Url.Action("ELExcel", "Word", new { bytId = Model.Id} )">Stáhnout Excel</a></td>
                        <td><a href="@Url.Action("DPNWord", "Word", new { bytId = Model.Id} )">Stáhnout Word</a></td>
                        <td><a href="@Url.Action("DUNWord", "Word", new { bytId = Model.Id} )">Stáhnout Word</a></td>
                        <td><a href="@Url.Action("VNWord", "Word", new { bytId = Model.Id} )">Stáhnout Word</a></td>
                    </tr>
                </tbody>
            </table>
        }
        else
        {
            <p>Byt je prázdný!</p>
        }
</div>

<hr />
<hr />

<table>
    <tr>
        <td><a class="nav-link" asp-controller="Nemovitost" asp-action="UpravByt" asp-route-id="@Model.Id">Upravit Byt</a></td>
        <td><a class="nav-link" asp-controller="Nemovitost" asp-action="NovyNajemnik" asp-route-id="@Model.Id">Přidej Nájemníka</a></td>   
    </tr>
</table>

